.Station {
  width: 24vh;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 2vh;
  user-select: none;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  /* border-bottom: 0.2vh solid var(--primary-color); */
  border-radius: 1vh 3vh 1vh 1vh;
}

.Station.is-running .Station-slot-running {
  animation: shakeLow 0.2s cubic-bezier(0.895, 0.03, 0.935, 0.095) infinite;
}

.Station-info {
  position: relative;
  padding: 0 2vh;
  text-align: left;
}

.Station-info h2 {
  color: #e2e7e4;
}

.Station-inventory {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Station-progress {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2vh;
  height: 6vh;
}

.Station-feedback {
  padding-right: 1vh;
}

.Station-feedback span {
  display: block;
  font-size: 1.8vh;
  color: #ccc;
}

.Station.is-running .Station-feedback span {
  animation: spin 1s infinite linear;
  color: var(--primary-color);
}

.Station-progressbar {
  flex: 1;
  text-align: left;
}

.Station-progressbar-inner {
  /* border: 0.1vh solid var(--primary-color);
  border-radius: 0.4vh; */
}

.Station-progressbar-value {
  background-color: var(--primary-color);
  height: 0.2vh;
  border-radius: 0.4vh;
}

.Station-progressbar span {
  font-size: 1.1vh;
  text-transform: uppercase;
  margin: 0;
  color: var(--primary-color);
  letter-spacing: 0.3vh;
  animation: blink 1s infinite;
  line-height: 1;
}

.Station-bottom {
  position: absolute;
  bottom: -0.8vh;
  left: 1vh;
  right: 1vh;
  height: 15vh;
  background-color: #e2e7e4;
  z-index: -1;
  border-radius: 1vh;

  /* position: absolute;
  bottom: 1.5vh;
  left: -0.8vh;
  right: 1vh;
  height: 17vh;
  background-color: #e2e7e4;
  z-index: -1;
  border-radius: 1vh; */

  /* position: absolute;
  bottom: -1.5vh;
  left: -0.5vh;
  right: -0.5vh;
  height: 22vh;
  background-color: #e2e7e4;
  z-index: -1;
  border-radius: 1.4vh 3.4vh 1.4vh 1.4vh; */
}
