.Ingredient {
  position: relative;
  padding-bottom: 100%;
  cursor: grab;
  animation: appear 0.4s forwards;
}
.Ingredient:active {
  cursor: grabbing;
}
.Ingredient.is-disabled {
  cursor: default;
}

.Ingredient-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.4vh;
  box-shadow: 0 0.1vh 0.5vh rgba(0, 0, 0, 0.1);
  background-color: #fff;
  user-select: none;
}

.Ingredient.is-disabled .Ingredient-content {
  opacity: 1;
}

.Ingredient-quantity {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.4vh;
  padding: 0.2vh 0.4vh;
}

.Ingredient.is-disabled .Ingredient-quantity {
  opacity: 1;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
