:root {
  --primary-color: #fc5438;
}

* {
  box-sizing: border-box;
}

html,
body,
#game {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8vh;
  background-color: #ecefed;
}

img {
  max-width: 100%;
  display: block;
}
